[Unit]
Description=fanService
After=network.target

[Service]
Type=simple
WorkingDirectory=/PATH/TO/DIR/WITH/TEMPCHECKER
ExecStart=PATH/TO/tempChecker
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fanServ
User=root
Group=root
Environment=PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/PATH/TO/DIR/WITH/TEMPCHECKER

[Install]
WantedBy=multi-user.target
