[Unit]
Description=fanService
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/bonesy/Storage/Software/IBM-xSeries-server-fan-control
ExecStart=/home/bonesy/Storage/Software/IBM-xSeries-server-fan-control/tempChecker
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fanServ
User=root
Group=root
Environment=PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/home/bonesy/Storage/Software/IBM-xSeries-server-fan-control

[Install]
WantedBy=multi-user.target
